<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<h2>注文情報入力</h2>
    <%= form_with model: @order, url: orders_path, method: :post , local: true do |f|%>
                  <strong><p>支払い方法</p></strong>
                  <%= f.radio_button  :payment_method, false %><span>クレジットカード</span>
                  <%= f.radio_button  :payment_method, true %><span>銀行振込</span>
   		<%= f.submit "確認画面へ進む",class: "btn btn-primary "%>
    <% end %>