<main>
				<div class="row1">
					<!-- <div id="sampleScrollSpy"> -->
						<ul class="nav nav-tabs">
							<li><a class="linkInThePage" href="#sampleA">まえチケって何？</a></li>
							<li><a class="linkInThePage" href="#sampleB">まえチケの目指すもの</a></li>
							<li><a class="linkInThePage" href="#sampleC">使い方</a></li>
						</ul>
					<!-- </div> -->
				</div>
			<!-- </div> -->
<!-- 
		<div id="sampleMainContents" data-spy="scroll" data-target="#sampleScrollSpy" data-offset="112"> -->

			<div class="row portfolio">
				<div id="sampleA" class="portfolio-title">What's MAETICKE</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="leftbar">
						<div class="image-box"></div>
					</div>
					<div class="rightbar">
						<div class="">aiu</div>
					</div>
				</div>
            </div>


<div class="back">
			<div class="row portfolio">
				<div id="sampleB" class="portfolio-title">VISION</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="leftbar">
						<div class="">
							<div class="vision-title">お会計が家で済ます時代へ</div>
　　　　　　　　　　　　　　	<div class="">aiu</div>
						</div>
					</div>
					<div class="rightbar">
							<div class="vision-title">行きつけのお店を支援する</div>
						<div class="">aiu</div>
					</div>
				</div>
			</div>
</div>


			<div class="row howto">
				<div id="sampleC" class="portfolio-title">HOW TO USE</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="step">
						<div class="vision-title">STEP1</div>
						<div class="">aiu</div>
					</div>
					<div class="step">
						<div class="vision-title">STEP1</div>
						<div class="">aiu</div>
					</div>
					<div class="step">
						<div class="vision-title">STEP1</div>
						<div class="">aiu</div>
					</div>
				</div>
			</div>
</main>


