<%= render 'homes/slide' %>
<%= render 'layouts/middlebar' %>
<main>
				<div class="row1">
					<!-- <div id="sampleScrollSpy"> -->
						<ul class="nav nav-tabs">
							<li><a class="linkInThePage" href="#sampleA">まえチケって何？</a></li>
							<li><a class="linkInThePage" href="#sampleB">まえチケの目指すもの</a></li>
							<li><a class="linkInThePage" href="#sampleC">使い方</a></li>
						</ul>
					<!-- </div> -->
				</div>
			<!-- </div> -->
<!-- 
		<div id="sampleMainContents" data-spy="scroll" data-target="#sampleScrollSpy" data-offset="112"> -->
			<div class="row portfolio animation" style="visibility: hidden;">
				<div id="sampleA" class="portfolio-title">What's MAETICKE</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="leftbar">
						<div class="image-box"></div>
					</div>
					<div class="rightbar">
						<div class="">								<br>
							<div class="vision-title">
								<strong>事業者のサービスを前売り券として購入する
								</strong>
							</div>
							<div class="vision-text">

								<br>
								まえチケは、あらゆる事業者のサービスを前売り券として購入する仕組みです。
								<br>
								<br>
								「行きたいけどすぐには行けないな。」<br>
								「旅行で行ったあのお店を支援したいな！」<br>
								「店舗でお会計すると密になりそう・・・。」
								<br>
								<br>
								そんなあなたの気持ちを解決します。
								</div>
								<br>
								<%= link_to new_user_registration_path do%><i class="fas fa-user-plus"> 新規登録はコチラ</i><%end%>
						</div>
					</div>
				</div>
            </div>


<div class="back">
			<div class="row portfolio animation" style="visibility: hidden;">
				<div id="sampleB" class="portfolio-title">VISION</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="leftbar">
						<div class="">
							<div class="icon">
								<i class="fas fa-money-check-alt "></i>
							</div>
							<div class="vision-title">
								<strong>
								お会計を外で済ます時代へ
								</strong>
							</div>
							<br>
　　　　　　　　　　　　　　	<div class="vision-text">
								ふと思い出した時。<br>
								休憩の合間。<br>
								おうちでくつろいでいる時。<br>
								<br>
								まえチケならいつでも決済が可能。
								<br>
								効率よくお会計を済ますことができます。
								<br>
							</div>
						</div>
					</div>
					<div class="rightbar">
							<div class="icon">
							<i class="fas fa-concierge-bell"></i>
							</div>
							<div class="vision-title">
								<strong>
								行きつけのお店を支援する
								</strong>
							</div>
							<br>
							<br>
						<div class="vision-text">
							サービスを受けなくてもお店にお金を落としたい。<br>
							<br>
							期限つきのチケットなので、使用しなければそのまま事業者の支援に。
							<br>
							チケットを使うもよし使わなくともよし。
							<br>
						</div>
					</div>
				</div>
			</div>
</div>


			<div class="row howto animation" style="visibility: hidden;">
				<div id="sampleC" class="portfolio-title">HOW TO USE</div>
				<div class="portfolio-border"></div>
				<div class="portfolio-text">
					<div class="step">
						<div class="step-logo">STEP1</div>
						<div class="vision-title">商品、店舗を検索する</div>
						<div class="image-box2"></div>
						<div class="vision-text step-text">
						<br>
						商品や店舗を検索。<br>
					    詳細画面から必要数を選択しカートに入れる。</div>
					</div>
					<div class="step">
						<div class="step-logo">STEP2</div>
						<div class="vision-title">スマホで決済</div>
						<div class="image-box3"></div>
						<div class="vision-text step-text">
						<br>
						決済情報入力画面mに移動し、購入方法を選択後、購入を確定。</div>
					</div>
					<div class="step">
						<div class="step-logo">STEP3</div>
						<div class="vision-title">お店で提示</div>
						<div class="image-box4"></div>
						<div class="vision-text step-text">
                        <br>
						マイチケットの画面から詳細を開き、サービス提供者に『使用する』ボタンを押してもらう。</div>
					</div>
				</div>
			</div>
</main>


