/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "loading";

/****************************************************************/
/*全体に関わるもの*/
h3, a{
 font-family: "M PLUS Rounded 1c";
}

.divline{
	border-bottom: solid 1px gray;
}

body{
	background-color:white;
}

#map{
	height:200px;
	width:220px;
	background-color:yellow;
}

.homeicon > a:link, a:visited, a:hover, a:active{
	background-color:rgba(0, 0, 0, 0);
}

ol{
	list-style:none;
}


/****************************************************************/


/*スライドショー*/
#container{
	height: 350px;
	background-size: cover;
    background-position: center;
}


/****************************************************************/





/*ヘッダー関連*/
nav{
	background-color: rgba( 233, 163, 38, 0.5);
/* 背景色を半透明*/
}
nav.nav-bar{
	margin-bottom:0px;
}



/****************************************************************/


/*トップページ関連*/
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}



.back{
	background-color:#ECEff1;
}

.portfolio{
  	width: 800px;
	margin: 0 auto;
	padding:30px;
}

.row1{
	padding: 20px;
}

.portfolio-title{
	text-align: center;
	font-size: 32px;
	padding-bottom: 8px;
}

.portfolio-text{
	height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-border{
    margin: 0 auto;
    width: 200px;
	border-bottom:  3px solid  #EC715F;
}

.portfolio-box{
	margin: 30px auto;
}

.leftbar, .rightbar{
    height:360px;
	width:360px;
    padding: 20px 20px;
}

.image-box{
  width: 300px;
  height: 300px;
  	background-image: image-url("ticket.jpg");
	background-size: cover;
    background-position: center;
   	border-radius: 50%;
}

.vision-title{
	text-aline:center;
	border-bottom:solid 1px gray;
}

.vision-text{
	font-family: "M PLUS Rounded 1c";
}

.icon{
    text-align: center;
	margin: 0 auto;
	padding-bottom:20px;
}

.icon > i{
	font-size:60px;
}


.howto{
	width:900px;
	margin: 0 auto;
	padding:30px;
}

.step{
	height:300px;
	width:270px;
    margin: 20px 5px;
    padding: 10px;
    background-color:#ECEff1;
    border: solid 1px gray;
    border-radius:10px;
}
.step-logo{
	color:white;
	background-color:orange;
	text-align:center;
	width:50px;
	line-height:20px;
	border-radius:3px;
}


.image-box2{
  margin:0 auto;
  width: 240px;
  height: 150px;
  	background-image: image-url("phone.jpg");
	background-size: cover;
    background-position: center;
}
.image-box3{
  margin:0 auto;
  width: 240px;
  height: 150px;
  	background-image: image-url("pay.jpg");
	background-size: cover;
    background-position: center;
}
.image-box4{
  margin:0 auto;
  width: 240px;
  height: 150px;
  	background-image: image-url("look.jpg");
	background-size: cover;
    background-position: center;
}


/****************************************************************/
/*フッター関連*/
footer{
	background-color: gray;
	color: white;
    width: 100%;
    height: 50px;
    text-align: center;
	line-height:50px;
}
footer.a{
	font-color:white;
}





/******************************************************************/



/*ここからチケットのデザイン*/
.flex{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin:5px;

	border-radius: 3px;
	width:180px;
	height:270px;
	background-image: image-url("ticket.png");
	background-size: cover;
    background-position: center;
}
.card-img-top{
}
.card-body{
	padding:10px ;
	height:150px;
	position:relative;
}

.card-text{
	border-bottom: solid 3px #ECEff1;
}
.card-introduce > p{
	font-size:5px;
	line-height:10px;
	color: green;
}
.card-status{
	position:absolute;
	right:10px;
    bottom:30px;
}
.status{
	background-color:#CC9900;
	color:white;
	padding:3px;
	border-radius:3px;
	font-family: "M PLUS Rounded 1c"
}
.status2{
	background-color:#990000;
	color:white;
	padding:3px;
	border-radius:3px;
	font-family: "M PLUS Rounded 1c"
}


/****************************************************************/


/*ここから商品詳細画面*/
.product-show{
	height:400px;
}




/****************************************************************/



/*ここからオーナー一覧*/
.owner-card{
	padding: 20px;
	width:100%;
	border-bottom:solid 1px gray ;
	background-color:white;
}
.owner-image{
	margin-right: 20px;
}

.owner-map{
	padding: 25px 0 ;
	width:100%;
}
.owner-introduce{
	height:140px;
	width:100%;
	background-color:#FFEFD5;
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;
}

/****************************************************************/
/*コメント欄*/

.comment{
	padding:0px 20px 20px;
	border-bottom:solid 1px gray;
}
.comment-form{
	margin:20px;
}
.comment-btn{
	margin:20px;
}
